<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Consultar API</span></li>
				</ul>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${departamento.id == null} ? @{/departamentos/salvar} : @{/departamentos/editar}"
				th:object="${departamento}" method="POST">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="nome">Código IBGE</label> <input type="text"
							class="form-control" id="nome"
							placeholder="Código IBGE Município" autofocus="autofocus"
							th:field="*{nome}" />
					</div>
					<div class="form-group col-md-4" valign="middle">
						<label for="consulta">Consultar</label> <br> <a
							href="https://www.ibge.gov.br/explica/codigos-dos-municipios.php" target="_blank" rel="noopener noreferrer">
							<button class="btn btn-secondary" type="button" id="consulta"><i class="oi oi-magnifying-glass"></i></button>
						</a>
					</div>
					</a>
				</div>

				<div class="form-row">
					<div class="form-group col-md-2">
						<label for="dataEntrada">Ano Referência</label> <input
							type="number" class="form-control" id="dataEntrada">
						<!-- th:field="*{dataEntrada}"/>-->
					</div>
					<div class="form-group col-md-2">
						<label for="dataEntrada">Mês Referência</label> <input
							type="number" class="form-control" id="dataEntrada">
						<!-- th:field="*{dataEntrada}"/>-->
					</div>
					<div class="form-group col-md-2">
						<label for="nome">Pagina</label> <input type="number"
							class="form-control" id="nome" autofocus="autofocus"
							th:field="*{nome}" />
					</div>
				</div>
				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-success btn-sm">Buscar Dados</button>
			</form>
		</div>
	</section>
</body>
</html>
