<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/home"> <i
					class="oi oi-home"></i> <span>Home</span>
			</a></li>
		</ul>
		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Auxílio
					Emergencial</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/dados/cadastrar"> <i
					class="oi oi-magnifying-glass"></i> <span>Consultar API</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/dados/listar"> <i class="oi oi-pie-chart"></i>
					<span>Dados Salvos</span>
			</a></li>
		</ul>
	</nav>
</body>
</html>